In [14]:
#collecting the dataset
import pandas

data=pandas.read_csv('cleanedDataset.csv')
data

,Unnamed: 0,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,...,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime,enrolldate,Score,BMI
0,0,43783,1995-03-22,2000-01-01,2000-01-01,unknown,unknown,Male,0,0.833561,...,81.440000,In state,on campus,Public Transport,27.0,7.0,1.0,2000-01-01,311.200000,0.034584
1,1,20278,1995-01-01,2000-01-01,2000-01-01,unknown,Philosophy,Male,0,0.814091,...,73.270000,unknown,on campus,Public Transport,27.0,5.0,2.0,2000-01-01,318.160000,0.035891
2,2,20389,1994-12-31,2000-01-01,2000-01-01,unknown,unknown,Male,0,0.814321,...,84.240000,In state,unknown,Public Transport,27.0,8.0,7.0,2000-01-01,339.050000,0.039738
3,3,22820,1994-12-01,2000-01-01,2000-01-01,unknown,business administration,Female,0,0.783810,...,73.160000,In state,on campus,Public Transport,27.0,2.0,6.0,2000-01-01,291.790000,0.042854
4,4,24559,1994-11-10,2000-01-01,2000-01-01,unknown,unknown,Female,1,0.776877,...,80.450000,Out of state,on campus,Public Transport,27.0,7.0,3.0,2000-01-01,305.880000,0.028189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,430,34021,1987-07-18,2011-08-01,2017-05-08,forth position,accounting,Female,0,0.783810,...,79.521683,In state,off campus,walking,18.0,1.0,10.0,2011-08-01,317.541683,0.039114
431,431,40697,1987-04-29,2011-08-01,2016-05-09,forth position,unknown,Male,0,0.789205,...,82.670000,In state,off campus,car,26.0,6.0,15.0,2011-08-01,330.800000,0.028114
432,432,34272,2000-01-01,2011-08-01,2016-05-09,forth position,nursing,Male,1,0.784596,...,81.870000,unknown,off campus,car,29.0,6.0,10.0,2011-08-01,306.840000,0.028047
433,433,33628,2000-01-01,2011-08-01,2017-05-08,forth position,Nursing,Female,1,0.798076,...,79.350000,In state,off campus,walking,14.0,4.0,10.0,2011-08-01,307.750000,0.032774
434,434,39298,2000-01-01,2011-08-01,2017-05-08,forth position,unknown,Female,1,0.768236,...,75.230000,In state,off campus,car,27.0,2.0,10.0,2011-08-01,288.360000,0.034261

In [15]:
#one sample t-test
import scipy.stats as stats
stats.ttest_1samp(a=data['English'],popmean=50)
#statistics-this value tells you how many the std the sample mean(English mean) is from the population mean(50)
#pvalue-this value helps you to determine the significance of the results ,ie if it is null or true.if it less than 0.05,then you reject the null hypothesis
#df(degreee of freedom)-used to determine the critical t-value from the t-distribution and for intercepting the t-test results

t_stat,p_value = stats.ttest_1samp(a=data['English'],popmean=50)
if p_value<0.05:
    print('We do not have significant evidence to say that the mean english score for students is 50')
else:
    print('Sample mean is not significantly different from the population mean')

We do not have significant evidence to say that the mean english score for students is 50

In [16]:
stats.ttest_1samp(a=data['Math'],popmean=65)

t_stat,p_value=stats.ttest_1samp(a=data['Math'],popmean=65)
if p_value<0.05:
    print('The mean is not equal to 65')
else:
    print('The mean is equal/close to 65')

The mean is equal/close to 65

In [17]:
data['Athlete'].replace({
    0:'Athlete',
    1:'Non Athlete'
},inplace=True)

/tmp/ipykernel_5728/2450301259.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Athlete'].replace({

In [18]:
#Does being an athlete affect study timea
athlete_study_time=data[data['Athlete']=='Athlete']['StudyTime']
non_athlete_study_time=data[data['Athlete']=='Non Athlete']['StudyTime']

#perform the independence double sample ttset
t_stat,p_value=stats.ttest_ind(a= athlete_study_time,b=non_athlete_study_time)

if p_value<0.05:
    print('There is a significant difference in the avereage study time for athletes compared to non athletes')
else:
     print('There is no significant difference in the avereage study time for athletes compared to non athletes')

There is no significant difference in the avereage study time for athletes compared to non athletes

In [19]:
data['Smoking'].replace({
    0:'Non smoker',
    1:'Smoker',
    2:'Chain Smoker',
    3:'Unknown'
},inplace=True)
data.groupby('Smoking').size()

/tmp/ipykernel_5728/2341877134.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Smoking'].replace({

Smoking
 smoker          37
3.0              24
Not a smoker    304
Unknown          70
dtype: int64

In [24]:
smoker_sleep_time=data[data['Smoking']==' smoker']['SleepTime']
not_smoker_sleep_time=data[data['Smoking']=='Not a smoker']['SleepTime']

t_stat,p_value=stats.ttest_ind(a=smoker_sleep_time,b=not_smoker_sleep_time)

if p_value<0.05:
    print('There is a significant difference in the avereage sleep time for smokers compared to non smokers')
else:
     print('There is no significant difference in the avereage sleep time for smokers compared to non smokers')

There is no significant difference in the avereage sleep time for smokers compared to non smokers

In [25]:
#one way anova
group1=[85,68,44,55,98,22,53]
group2=[63,84,23,45,63,85,77]
group3=[46,74,73,82,91,189,45]

stats.f_oneway(group1,group2,group3)

F_onewayResult(statistic=1.1416186919415943, pvalue=0.34136350185916114)

In [33]:
data.groupby('State').size()

#group the state and calculate the means if each score
average_scores_by_state=data.groupby('State')[['English','Reading','Math','Writing']].mean()
average_scores_by_state

#perform ANOVA for each score using a loop
for column in average_scores_by_state:
   t_stat,p_value= stats.f_oneway(*[list(average_scores_by_state[column])for _,group in average_scores_by_state.groupby('State')])

if p_value<0.05:
      print(f'There is a statistical significant difference in average{column}scores across states')
else:
      print(f'There is no evidence to conclude the difference in average{column}scores across  based on states')

There is no evidence to conclude the difference in averageWritingscores across  based on states

In [35]:
#ANOVA for column Math,English and Reading
t_stat,p_value=stats.f_oneway(data['Math'],data['English'],data['Reading'])

if p_value<0.05:
    print('The mean is significantly evident that they relate')
else:
    print('The mean is  not significantly evident that they relate')

The mean is significantly evident that they relate

In [41]:
average_sleep_time=data['SleepTime'].mean()
average_study_time=data['StudyTime'].mean()

t_stat,p_value=stats.ttest_ind(a=average_sleep_time,b=average_study_time)
if p_value<0.05:
    print('They do not have the same mean')
else:
    print('They have the same/close to the same mean')

They have the same/close to the same mean

/home/user/.local/lib/python3.10/site-packages/scipy/stats/_stats_py.py:6988: RuntimeWarning: invalid value encountered in scalar divide
  svar = ((n1 - 1) * v1 + (n2 - 1) * v2) / df

In [ ]:
#do athletes have higher average writing score compare to none athletes

In [ ]:
#us th